body {
    background-color: rgb(2, 83, 2);
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    font-family: 'Courgette', cursive;
    /* font-family: 'Merienda', cursive; */
    /* font-family: 'Gloria Hallelujah', cursive; */
}
h1 {
    color: red;
}
h2 {
    color: blue;
}
#room-messages-title {
    color: rgb(110, 1, 110);
}
#room-list {
    position: absolute;
    display: none;
    background-color: rgba(2, 5, 180, 0.9);
    border: solid black 1px;
    padding: 10px;
}
#room-list:hover {
    display: inline-block;
    color: white;
}
#show-rooms:hover + #room-list {
    display: inline-block;
    color: white;
}
#show-rooms {
    width: 110px;
    padding: 5px;
    background-color: black;
    border: 1px solid blue;
}
#show-rooms:hover {
    background-color:darkslategray;
    cursor: default;
}
#drop-title {
    text-decoration: underline;
    font-size: 16px;
}
#chat-log {
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 200px;
    overflow: auto;
    scroll-snap-type: mandatory;
    font-family: 'Merienda', cursive;
    /* background-image: url("images/happyGroot.jpg"); */

}
#room-require {
    font-size: 11px;
    font-family: 'Merienda', cursive;
    color: rgb(201, 199, 199);
}
#invalid-alert {
    display: none;
    position: absolute;
    left: 100px;
    top: 200px;
    background-color: rgba(182, 3, 3, 0.8);
    border: 1px solid black;
    padding: 10px;
}
button {
    font-family: 'Merienda', cursive;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 5px;

}
#submit-button {
    font-family: 'Merienda', cursive;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 5px;
}
#room-dropdown {
    font-family: 'Merienda', cursive;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 2px;
}
#messageBody {
    font-family: 'Merienda', cursive;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 2px;
}
.message-class {
    background-color: rgba(43, 0, 199, 0.7);
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
}
@media only screen and (max-device-width: 480px){
    body {
        font-size: 40px;
    }
    #show-rooms {
        width: 275px;
    }
    button {
        font-size: 30px;
    }
    #submit-button {
        font-size: 30px;
    }
    #room-require {
        font-size: 26px;
    }
    #messageBody {
        height: 60px;
        width: 300px;
        font-size: 30px;
    }
    #room-dropdown {
        height: 60px;
        width: 300px;
        font-size: 30px;
    }
    #chat-log {
        width: 95%;
        font-size: 14px;
        height: 400px;
    }
    #drop-title {
        font-size: 42px;
    }
    .message-class {
        margin: 10px;
    }
}
