body {
    background-color: gray;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
    font-family: 'Courgette', cursive;
    background-image: url("images/webBackground.jpg");
    background-position: bottom left;
    background-repeat: no-repeat;
    /* font-family: 'Merienda', cursive; */
    /* font-family: 'Gloria Hallelujah', cursive; */
}
h1 {
    color: red;
    position: absolute;
    left: 200px;
    top: -10px;
}
h2 {
    padding-top: 5px;
    color: blue;
}
#room-messages-title {
    color: blue;
    /* background-color: rgba(0, 0, 0, 0.5); */
    margin: 0;
    padding: 5px;
    width: fit-content;
}
#room-list {
    position: absolute;
    display: none;
    background-color: rgba(2, 5, 180, 0.9);
    border: solid black 1px;
    padding: 10px;
}
#room-list:hover {
    display: inline-block;
    color: white;
}

#show-rooms:hover + #room-list {
    display: inline-block;
    color: white;
}

#show-rooms {
    width: 110px;
    padding: 5px;
    background-color: black;
    border: 1px solid blue;
}
#show-rooms:hover {
    background-color:darkslategray;
    cursor: default;
}
#drop-title {
    text-decoration: underline;
    font-size: 16px;
}
#chat-log {
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    height: 240px;
    overflow: auto;
    scroll-snap-type: mandatory;
    font-family: 'Merienda', cursive;
}
#room-require {
    font-size: 11px;
    font-family: 'Merienda', cursive;
    color: rgb(201, 199, 199);
}
#invalid-alert {
    display: none;
    position: absolute;
    left: 100px;
    top: 200px;
    background-color: rgba(182, 3, 3, 0.8);
    border: 1px solid black;
    padding: 10px;
}
button {
    font-family: 'Merienda', cursive;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
}
#submit-button {
    font-family: 'Merienda', cursive;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 5px;
}
#room-name-input {
    font-family: 'Merienda', cursive;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 2px;
}
#messageBody {
    font-family: 'Merienda', cursive;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 2px;
}
#messageAuthor {
    font-family: 'Merienda', cursive;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 2px;
}
.message-class {
    background-color: rgba(43, 0, 199, 0.7);
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
}
#wrapper {
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: fit-content;
    padding: 0px 5px 0 5px;
    margin-top: 5px;
}
#wrapper2 {
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: fit-content;
    padding: 0px 5px 0 5px;
    margin-top: 5px;
    margin-left: 5px;
}
#form-input {
    padding-bottom: 5px;
}
.class-room-list {
    cursor: pointer;
    margin-bottom: 2px;
}
.class-room-list:hover {
    text-decoration: underline;
    color: red;
}
#author-name-search {
    font-family: 'Merienda', cursive;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 2px;
    margin-top: 20px;
}
#body-search {
    font-family: 'Merienda', cursive;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#time-search {
    font-family: 'Merienda', cursive;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 2px;
}
#flex {
    display: flex;
    flex-direction: row;
}
#full-page {
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;
}
@media only screen and (max-device-width: 480px){
    body {
        font-size: 40px;
    }
    h1 {
        top: -30px;
        left: 300px;
    }
    #show-rooms {
        width: 275px;
    }
    button {
        font-size: 26px;
        margin: 5px;
    }
    #submit-button {
        font-size: 30px;
    }
    #room-require {
        font-size: 26px;
    }
    #messageBody {
        height: 60px;
        width: 300px;
        font-size: 30px;
    }
    #messageAuthor {
        height: 60px;
        width: 300px;
        font-size: 30px;
    }
    #author-name-search {
        height: 60px;
        width: 300px;
        font-size: 30px;
    }
    #body-search {
        height: 60px;
        width: 300px;
        font-size: 30px;
    }
    #time-search {
        height: 60px;
        width: 300px;
        font-size: 30px;
    }
    #room-name-input {
        height: 60px;
        width: 300px;
        font-size: 30px;
    }
    #chat-log {
        width: 100%;
        height: 500px;
    }
    #drop-title {
        font-size: 42px;
    }
    .message-class {
        margin: 10px;
        font-size: 10pt;
    }
    #room-messages-title {
        width: 45%;

    }
}
